# Project Notebook


This notebook relates to the Fundamentals of Data Analysis project. The objective of the project is to investigate the variables and data points wihtin the the well know Iris Data set. The Iris dataset is accessed from the UCI machine learing repository and is commonly used in machine learning and data analysis examples/tutorials.

The following information is taken from the iris.names file included in the data downloaded from the UCI machine learning repository. The attributes included within the file are sepal length in cm, sepal width in cm, petal length in cm, petal width in cm and class. 

The class varients are included in the dataset:
    Iris Setosa
    Iris Versicolour
    Iris Virginica

There are a total of 150 instances in the database, 50 for each of the three classes included in the data set. 

The following notebook explores the Iris dataset.

I will begin by importing the modules necessary to conduct analysis of the iris data set.

In [1]:
import numpy as np #import numpy module
import matplotlib.pyplot as plt #import matplotlib module
import pandas as pd #import pandas module
import seaborn as sns # import the seaborn module

In [9]:
#Next I will import the iris data set for use in the analysis. For this, I am importing the data from the iris data set stored in the local directory
df = pd.read_csv('iris.data', names= ["Sepal_Length_(cm)", "Sepal_Width_(cm)", "Petal_Length_(cm)", "Petal_Width_(cm)", "Class"]) #reading in the iris dataset and assigning names to each of the columns
df.head()

,Sepal_Length_(cm),Sepal_Width_(cm),Petal_Length_(cm),Petal_Width_(cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

***References***

- https://archive.ics.uci.edu/dataset/53/iris
- https://stackoverflow.com/questions/34091877/How-to-add-header-row-to-a-pandas-dataframe
-